<mat-toolbar color="primary" class="flex justify-between">
  <div class="flex items-center" *ngIf="isAuthenticated$ | async">
    <button mat-icon-button routerLink="/home-page">
      <mat-icon [inline]="true" style="font-size: 20px; height: 20px; width: 20px;">home</mat-icon>
    </button>

    <ng-container *ngIf="isAuthenticated$ | async">
      <button mat-button class="ml-4" routerLink="/employee-list">
        <mat-icon class="mr-1" [inline]="true" style="font-size: 20px; height: 20px; width: 20px;">people</mat-icon>
        <span class="text-sm">Employee</span>
      </button>
      <button mat-button class="ml-4" routerLink="/department-list">
        <mat-icon class="mr-1" [inline]="true" style="font-size: 20px; height: 20px; width: 20px;">business</mat-icon>
        <span class="text-sm">Department</span>
      </button>
    </ng-container>
  </div>
  <div>
    <ng-container *ngIf="(isAuthenticated$ | async) == false; else signedIn">
      <button mat-button routerLink="/sign-in">
        <!-- <mat-icon class="mr-1" [inline]="true" style="font-size: 20px; height: 20px; width: 20px;">login</mat-icon> 
        <span class="text-sm">Sign In</span> -->
      </button>
    </ng-container>
    <ng-template #signedIn>
      <button mat-button (click)="signOut()">
        <mat-icon class="mr-1" [inline]="true" style="font-size: 20px; height: 20px; width: 20px;">logout</mat-icon>
        <span class="text-sm">Sign Out</span>
      </button>
    </ng-template>
  </div>
</mat-toolbar>
<div class="w-full px-36 py-5">
  <router-outlet></router-outlet>
</div>
